/* line 1, sass/0_ephir/_body.sass */
html {
  margin: 0;
  padding: 0;
}

/* line 6, sass/0_ephir/_body.sass */
body {
  color: #333;
  font-size: 0.85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  background: #2e2d2e;
}

/* line 14, sass/0_ephir/_body.sass */
.content-wrapper {
  margin: 0 auto;
  padding-top: 244px;
}

/* line 18, sass/0_ephir/_body.sass */
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 26, sass/0_ephir/_body.sass */
input {
  outline: none;
}

/* line 29, sass/0_ephir/_body.sass */
a {
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
}

/* line 34, sass/0_ephir/_body.sass */
.video-list-container {
  background-color: white;
}

/* line 1, sass/2_atoms/_app_logo.sass */
.app-logo {
  padding: 40px 0 35px;
  background: #2e2d2e url("./Images/logo.png") center center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
/* line 11, sass/2_atoms/_app_logo.sass */
.app-logo a {
  display: inline-block;
  width: 163px;
  height: 84px;
  opacity: 0;
}

/* line 1, sass/2_atoms/_query_container.sass */
.query-container {
  background: #2e2d2e url("./Images/search.png") center top no-repeat;
  padding: 0 0 51px;
  position: fixed;
  top: 149px;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}
/* line 10, sass/2_atoms/_query_container.sass */
.query-container > * {
  vertical-align: middle;
}

/* line 13, sass/2_atoms/_query_container.sass */
#query {
  border: none;
  background: transparent;
  width: 300px;
  margin: 0;
  font: bold 14px Arial;
  color: #333;
  display: inline-block;
  line-height: 42px;
}

/* line 23, sass/2_atoms/_query_container.sass */
#search-button {
  display: inline-block;
  width: 46px;
  top: 0;
  right: 0;
  height: 42px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

/* line 1, sass/3_molecules/_video_list.sass */
.video-list {
  margin-top: 0.75em;
}
/* line 4, sass/3_molecules/_video_list.sass */
.video-list .row {
  max-width: 1215px;
  margin: 0 auto;
}
/* line 8, sass/3_molecules/_video_list.sass */
.video-list .see-more {
  height: 34px;
  display: block;
  margin: 20px auto;
  background: url("./Images/see-more.png") no-repeat 0 0;
  width: 75px;
}
/* line 15, sass/3_molecules/_video_list.sass */
.video-list .see-more:hover, .video-list .see-more:active {
  background-position: 0 -34px;
  cursor: pointer;
}

/* line 1, sass/3_molecules/_video_list_item.sass */
.video-list-item {
  display: inline-block;
}
/* line 4, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container {
  padding: 33px 9px 0 33px;
  display: inline-block;
  border: 0 none;
  vertical-align: top;
  color: #9a9a9a;
  font: normal 14px Arial;
}
/* line 12, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container .video-thumbnail {
  width: 200px;
  height: 110px;
  position: relative;
}
/* line 17, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container .video-thumbnail .duration {
  padding: 0 1px;
  color: white;
  position: absolute;
  right: 9px;
  bottom: 7px;
  background: black;
  font: bold 16px Arial;
  height: 18px;
}
/* line 29, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container.description-container {
  padding-left: 0;
  width: 350px;
}
/* line 34, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container.description-container h2 {
  margin: 0 0 6px 0;
  font-size: 1.75em;
}
/* line 38, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container.description-container h2 a {
  font: bold 18px Arial;
  color: #343434;
  text-decoration: none;
  margin: 5px 0 0 -3px;
}
/* line 43, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container.description-container h2 a:hover {
  background: #c7d1d6;
}
/* line 46, sass/3_molecules/_video_list_item.sass */
.video-list-item .video-thumbnail-container.description-container .description {
  margin: 2px 0 10px 0;
}

/* line 1, sass/4_pages/_preview.sass */
.preview {
  width: 645px;
  margin: 0 auto;
  color: #606060;
  font: bold 14px Arial;
}
/* line 7, sass/4_pages/_preview.sass */
.preview .uploaded-by {
  font-size: 12px;
  float: left;
  margin-top: 5px;
}
/* line 12, sass/4_pages/_preview.sass */
.preview .views-count {
  font-size: 24px;
  float: right;
  margin-bottom: 5px;
}
