<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://youtube-prod-apps.chalkable.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chalkable-apps.cloudapp.net:8172</MSDeployServiceURL>
    <DeployIisAppPath>youtube-prod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>chalkableadmin</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="https://classroom.dev.chalkable.com" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://classroom.dev.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://classroom.qa.chalkable.com" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://classroom.qa.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://classroom.chalkable.com" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://classroom.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://sales.chalkable.com" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://sales.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://dev.chalkable.com" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://dev.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://qa.chalkable.com" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://qa.chalkable.com_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-qa;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://localhost:44300" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://localhost:44300_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://127.0.0.1:444" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://127.0.0.1:444_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="https://localhost:444" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\https://localhost:444_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qvi4pmue7v.database.windows.net;Initial Catalog=curriculet-dev;Persist Security Info=True;User ID=chalkableadmin;Password=Hellowebapps1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://classroom.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://classroom.dev.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://classroom.qa.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://dev.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://qa.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)https://sales.chalkable.com-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>