@*@model dynamic

    @{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <title>Wow</title>
</head>
<body>
    <div>
        <h2 style="margin-top: 200px; font-size: 42px">
            You've successfully installed Youtube application
        </h2>
    </div>
</body>
</html>