.app-logo
  padding: 40px 0 35px
  background: #f4f4f4 url("./Images/logo.png") center center no-repeat
  position: fixed
  top: 0
  left: 0
  right: 0
  text-align: center
  z-index: 1

  a
    display: inline-block
    width: 163px
    height: 84px
    opacity: 0