.query-container
  background: #2e2d2e url("./Images/search.png") center top no-repeat
  padding: 0 0 51px
  position: fixed
  top: 149px
  left: 0
  right: 0
  z-index: 1
  text-align: center
  > *
    vertical-align: middle

#query
  border: none
  background: transparent
  width: 300px
  margin: 0
  font: bold 14px Arial
  color: #333
  display: inline-block
  line-height: 42px

#search-button
  display: inline-block
  width: 46px
  top: 0
  right: 0
  height: 42px
  margin: 0
  opacity: 0
  cursor: pointer
