html
  background-color: #2e2d2e
  margin: 0
  padding: 0


body
  color: #333
  font-size: .85em
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif
  margin: 0
  padding: 0


.content-wrapper
  margin: 0 auto

.clear-fix:after
  content: "."
  clear: both
  display: block
  height: 0
  visibility: hidden


a
  outline: none
  padding-left: 3px
  padding-right: 3px

.video-list-container
  background-color: white