<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chalkable-prod-apps.chalkable.com:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://chalkable-prod-apps.chalkable.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>chalkable-prod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>CHALKABLE-APPS\chalkableadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChalkableAppsContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chalkable.Apps.Entities.ChalkableAppsContext, ChalkableApps.Entities" MigrationConfiguration="Chalkable.Apps.Entities.Migrations.Configuration, ChalkableApps.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ChalkableAppsContext_DatabasePublish" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:qvi4pmue7v.database.windows.net,1433;Initial Catalog=chalkable-apps-dev;User ID=chalkableadmin;Password=Hellowebapps1!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=Chalkable.Apps" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ChalkableAppsContext_DatabasePublish_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:qvi4pmue7v.database.windows.net,1433;Database=chalkable-apps-dev;User ID=chalkableadmin;Password=Hellowebapps1!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=Chalkable.Apps;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChalkableAppsContext-Web.config Connection String" />
  </ItemGroup>
</Project>