@model Youtube.Models.VideoModel
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="logo">@Html.ActionLink("cancel", "Edit", new RouteValueDictionary
                   {
                       {"announcementApplicationId", Model.AnnouncementApplicationId},
                       {"districtId", Model.DistrictId}
                   });
</div>

@Helpers.YoutubeIframe(Model)